{% extends "BaseTemplate" %}
{%- block title -%}Contact registration{%- endblock -%}
{%- block header -%}
  Morbi non neque eu nisl commodo pellentesque. Nunc a cursus mi. Vestibulum at pharetra leo.
{%- endblock -%}
{%- block content -%}
  {%- assign skillList = Contact.Skills | Split: ", " -%}
  <table>
    <tr>
      <td>Full Name:</td>
      <td>{{ Contact.first_name | append: " " | append: Contact.last_name }}</td>
    </tr>
    <tr>
      <td>Date:</td>
      <td>{{ DateTime | date: "yyyy-MM-dd HH:mm" }}</td>
    </tr>
    <tr>
      <td>Number of skills:</td>
      <td>{{ skillList.size }}</td>
    </tr>
    <tr>
      <td>Skills:</td>
      <td>
        {%- for skill in skillList -%}
          {%- if forloop.last == true -%}
            {{ skill | append: "." }}
          {%- else -%}
            {{ skill | append: ", " }}
          {%- endif -%}
        {%- endfor -%}
      </td>
    </tr>
  </table>
{%- endblock -%}